* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

body {
  font-family: 'Montserrat', sans-serif;
  color: #34404b; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 15px;
  font-size: 12px;
  flex-wrap: wrap; }

.header__bottom {
  border-top: 1px solid #edeff1;
  border-bottom: 1px solid #edeff1;
  width: 100wh; }

.header__main {
  display: flex;
  justify-content: space-between;
  padding: 40px 15px; }

.header__link {
  padding-right: 1rem;
  color: #34404b; }

.header__img {
  padding-right: 10px; }

.header__social {
  padding-left: 1rem;
  transition: .3s; }
  .header__social:hover {
    transform: scale(1.5);
    filter: invert(0.7); }

.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__info {
  display: flex;
  align-items: flex-end;
  margin-top: -10px;
  margin-bottom: 10px; }
  .header__info-icon {
    padding-right: 30px; }
  .header__info-searh {
    border-radius: 5px;
    margin-right: 15px; }

.logo {
  padding-right: 85px; }
  .logo__name {
    color: rgba(70, 80, 90, 0.8);
    font-size: 13px;
    font-weight: 400; }

.menu__list {
  display: inline-block;
  font-size: 16px;
  padding-right: 45px; }
  .menu__list a {
    color: #34404b; }
    .menu__list a:hover {
      color: #ff5912; }

.cart {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .cart__counter {
    border-radius: 50%;
    background-color: #34404b;
    color: #fff;
    width: 18px;
    height: 18px;
    font-size: 10px;
    padding: 5px;
    text-align: center; }

.hide {
  display: none; }

.product {
  display: flex;
  justify-content: center;
  padding-top: 16%;
  padding-bottom: 20%; }
  .product__images {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .product__main-image {
    text-align: center;
    padding-bottom: 70px; }
  .product__img-wrapper {
    height: 69px;
    width: 95px;
    background-color: #f4f6f8;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in; }
  .product__img {
    zoom: 0.2; }
  .product__gallery {
    display: flex; }

.current-img {
  height: 275px;
  width: 145px; }

@keyframes fadeIn {
  to {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards; }
