* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

$mainGrey:#34404b;
$mainOrange:#ff5912;

%borders {
    border-top: 1px solid #edeff1;
    border-bottom: 1px solid #edeff1;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $mainGrey;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 15px;
        font-size: 12px;
        flex-wrap: wrap;
    }

    &__bottom {
        @extend %borders;
        width: 100wh;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        padding: 40px 15px;
    }

    &__link {
        padding-right: 1rem;
        color: $mainGrey;

        &:hover {
            color: $mainOrange;
        }
    }

    &__img {
        padding-right: 10px;
        transition: .2s;

        &:hover {
            animation: swing .8s infinite;
        }
    }

    &__social {
        padding-left: 1rem;
        transition: .3s;

        &:hover {
            transform: scale(1.5);
            filter: invert(.7);
        }
    }

    &__left {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        display: flex;
        align-items: flex-end;
        margin-top: -10px;
        margin-bottom: 10px;

        &-icon {
            padding-right: 30px;
        }

        &-searh {
            border-radius: 5px;
            margin-right: 15px;
        }
    }
}

.logo {

    padding-right: 85px;

    &__name {
        color: rgba(70, 80, 90, 0.8);
        font-size: 13px;
        font-weight: 400;
    }

    &__img {
        transition: .2s;

        &:hover {
            animation: rubberBand .8s 1;
        }
    }
}

.menu {
    &__list {
        display: inline-block;
        font-size: 16px;
        padding-right: 45px;

        a {
            color: $mainGrey;

            &:hover,
            &:active {
                color: $mainOrange;
            }
        }
    }
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__counter {
        border-radius: 50%;
        background-color: $mainGrey;
        color: #fff;
        width: 18px;
        height: 18px;
        font-size: 10px;
        padding: 5px;
        text-align: center;
    }
}

.hide {
    display: none;
}

.product {
    display: flex;
    justify-content: center;
    padding: 100px 0;

    &__images {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__main-image {
        text-align: center;
        padding-bottom: 70px;
    }

    &__img-wrapper {
        height: 69px;
        width: 95px;
        background-color: #f4f6f8;
        margin: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s ease-in;
    }

    &__img {
        zoom: 0.2;
    }

    &__gallery {
        display: flex;
    }

    &__details {
        padding: 0 6%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__name {
        color: #ff5912;
        font-size: 53px;
        font-weight: 900;
        transform: scaleX(0.8);
        transform-origin: left;
        text-align: left;
    }

    &__subtitle {
        font-size: 18px;
        text-align: left;
        transform: scaleX(0.9);
        transform-origin: left;
        font-weight: 600;
        padding: 10px 0;
    }

    &__description {
        font-size: 16px;
        line-height: 30px;
        padding: 1rem 10% 1rem 0;
    }

}

.current-img {
    height: 275px;
    width: 145px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}

.choose {
    @extend %borders;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    font-weight: 600;
    font-size: 18px;

    span {
        transition: all .2s;
        display: inline-block;
        font-size: 14px;
        padding: 0 5px;

        &:hover,
        &:active {
            color: $mainOrange;
            transform: scale(1.3);
            transform-origin: bottom;
        }
    }

    &__counter {
        color: $mainOrange;


    }

    &__quantity span {
        font-size: 18px;
    }

}

.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    font-weight: 800;

    &__btn {
        border: none;
        background: none;
        padding: 18px;
        font-size: 18px;
        box-shadow: none;
        font-weight: normal;

        &-now {
            background: $mainOrange;
            color: white;
            border: none;
            border-radius: 30px;
            padding: 18px 24px;
            box-shadow: none;
            font-weight: normal;
        }
    }
}





























@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}